@import url('https://fonts.googleapis.com/css?family=Roboto');

 /*HEADER*/

    .navbar{
        font-family:'Roboto', sans-serif;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .navbar-brand{
        padding-top: 0 !important;
    }

    .navbar ul li{
        padding:18px 2px 18px 2px;

    }
    ul .dropdown-menu{
        border-radius:5px;
    }
    .divider{
        background-color:#555 !important;
        padding:0 !important;
    }

/**/

/*FOOTER*/
.rodape {
	position: fixed;
	width:100%;
	padding:0;
    bottom: 0;
	background-color: #f5f5f5;
}

/**/

/*General*/
.row{
    padding-top: 25px;
}

.img-responsive{
    width:100%;
    margin:0 auto;
}
/**/
 /*Index*/

#imgBox img{
    max-width: 368px;

}

#vejaAgora{
    margin-top:1em;
    background:url("../images/bg-button.png") no-repeat bottom;
    text-transform: uppercase;
    color:#fff;
    padding:1em 2.5em;

}

#vejaAgora:hover{
    background:url("../images/bg-button.png") no-repeat top;
}


/**/

/*Consulta*/
fieldset.scheduler-border {
    border: solid 1px #DDD !important;
    border-radius:3px;
    padding: 0 10px 10px 10px;
    border-bottom: none;
    margin-top:15px !important;
}

legend.scheduler-border {
    width: auto !important;
    border: none;
    font-size: 1.4em;
    color:#383838;
}

.glyphiconHelp{
    padding-top: 8px !important;
    padding-left: 0 !important;
}

th{
   text-align: center !important;
}

 .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    }


/**/

/*Sobre*/
#sobre p{
    font-size:2rem;
    color:#444444;
}
/**/

/*Tooltip*/
    #tooltip{
        text-align: center;
        color: #000;
        background: #f4f4f4;
        border:1px solid #e8e8e8;
        border-radius:5px;
        position: absolute;
        z-index: 100;
        padding: 15px;
    }

    #tooltip:after /* triangle decoration */{
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #f4f4f4;
        content: '';
        position: absolute;
        left: 50%;
        bottom: -10px;
        margin-left: -10px;
    }

    #tooltip.top:after{
        border-top-color: transparent;
        border-bottom: 10px solid #111;
        top: -20px;
        bottom: auto;
    }

    #tooltip.left:after{
        left: 10px;
        margin: 0;
    }

    #tooltip.right:after{
        right: 10px;
        left: auto;
        margin: 0;
    }
/**/

/*Media Queries*/

/*Small devices (smartphones, 768px limit)*/
@media (max-width: 767px) {

    .navbar-header{
        padding:10px 0 25px 0;
    }
    .navbar-nav li {
      padding: 5px 0 5px 0 !important;
      text-align: center;
    }
    
    .navbar-brand img{
        max-width:80% !important;
    }
    button.navbar-toggle{
        margin-top:15px;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 768px) {
    .navbar-brand{
        margin-left:20px !important;
    }
    .navbar .container-fluid{
        padding: 3em 0;
        display: flex;
        justify-content: center;

    }
    .navbar{
       font-size: 1.9rem ;
    }
	.footerBottom .footer{

		bottom:0 !important;

	}
}
@media (min-width: 1200px) {
    #textoIndex h1{
        font-size:2.8rem;
    }
}

@media (min-width: 1300px) {
    #textoIndex{
        padding: 20px 80px !important;
    }
}
